.home__display_mode {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  .DISPLAY_MODE {

    .currentMode {
      background-color: rgb(23, 90, 116);
      color: white;
    }
  }
}