.header__tabs {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40px;
    color: rgb(0, 0, 0);
    background-color: rgb(132, 132, 132);
    border: 1px #39889c solid;
    cursor: pointer;
    transition: 400ms;
    opacity: 0.3;
  }
  .currentTab {
    background-color: #61dbfb;
    opacity: 1;
  }
}
